.Profile{
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(#9ff9ff, #fff);
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
}


.title{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.Profile__title{
    transition: 0.4s;
    transform: translateX(0);
    cursor: grab;
    color: #000;
    margin-bottom: 30px;
}

.Profile__title:hover{
    transform: translateY(-1rem);
    background: -webkit-linear-gradient(120deg, hsl(184, 90%, 52%), hsl(224, 100%, 25%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;

}
.Profile__content h5{
    text-shadow: 4px 4px #707070;
}

.Profile__content p{
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.contentContainer {
  opacity: 1;
  max-height: 200px; /* Set a reasonable maximum height */
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

.showAboutMe {
  opacity: 0;
  max-height: 0;
}

.newInformation:hover{
    transform: scale(1.2);    
}


.newInformation{
    border: 10px solid #000;
    border-radius: 25px;
    background-color: #000;
    color: #fff;
    box-shadow:  3px 3px 3px #53827f,
    -3px -3px 3px #929292;
    transition: 0.25s ease;
}

.informationButton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

}

.newArticle{
    color: #555;
    font-size: 22px;
    padding: 0 !important;
    width: 500px;
    font-family: courier, monospace;

}

.aboutContent ul{
    margin-top: 1rem;
    font-family: courier, monospace;
    color: #555;
    font-weight: 500;
}

.socialMedia{
    display: flex;
    margin-top: 1rem;
    gap: 2rem;
    align-items: center;
    
}

.socialMedia li{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #000; */
    background-color: #e0fbff;
    border-radius: 10px;
    width: 65px;
    height: 65px;
    transition: transform 300ms;
}

.socialMedia li:nth-child(1):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      30deg,
      #ffffff,
      rgb(90, 90, 90)

    );
    border-radius: 5px;
    z-index: -1;
    transform: scaleX(0%);
    transition: transform 300ms;
    transform-origin: right;

  }

  .socialMedia li:nth-child(2):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      30deg,
      rgb(248, 255, 157),
      #ff9f9f,
      rgb(213, 161, 255)
    );
    border-radius: 5px;
    z-index: -1;
    transform: scaleX(0%);
    transition: transform 300ms;
    transform-origin: right;

  }

.socialMedia li:nth-child(3):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      30deg,
      rgb(173, 247, 242),
      rgb(21, 170, 255)
    );
    border-radius: 5px;
    z-index: -1;
    transform: scaleX(0%);
    transition: transform 300ms;
    transform-origin: right;

  }

  .socialMedia li:hover::before{
    transform: scaleX(100%);
    transform-origin: left;
  }

.socialMedia li:hover{
    background-color: #fff;
    transform: scale(1.2);
}

.aboutContent{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 2rem;
    align-items: start;
    text-align: justify;
}

.photos{
    box-shadow: 10px 10px #000;
}
