/* components/Navbar.module.css */
.navbar {
  position: fixed;
  top: 2rem;
  height: 50px;
  display: flex;
  justify-content: start;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  width: 100%;
  gap: 50rem;
  z-index: 999;

}

.logo a {
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
  font-weight: 700;
}

.navLinks {
  display: flex;
  gap: 2rem;
  margin-left: 10rem;

}

.navButton{
    display: flex;
    gap: 1rem;
    color: #333;
    font-weight: 600;
}

.navButton li{
    background-color: #9ff9ff;
    width: 8rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 20px solid #fff;
    color: #333;
}

.navLinks a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 600;
}

.navLinks a:hover {
  color: #ff9900;
}

.highlighted{
  background-color: #9ff9ff;
  border: 3px solid #006b79;
  border-radius: 20px;
  padding: 5px;
}
.note{
  position: absolute;
  font-size: 8px;
  top: 8%;
}

.learning{
  position: absolute;
  left: 40%;
  top: 8%;
  font-size: 8px;
}

/* Media query for responsive design */
@media (max-width: 480px) {
  .navbar {
    justify-content: center;
  }

  .navLinks {
    flex-direction: row;
    left: 0;
    margin: 0;
  }

}
