@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --dark-mode-background: linear-gradient(#006970, #fff);
  --light-mode-background: linear-gradient(#9ff9ff, #fff);
  --dark-background: #006970;
  --light-background: #9ff9ff;
  --background-transition-duration: 0.3s;
  --background-transition-timing: ease;
  cursor: default;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Merriweather', serif;
  scroll-behavior: smooth;
}

.Body {
  background: var(--light-mode-background);
  transition: background var(--background-transition-duration) var(--background-transition-timing);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
